<!-- layouts/menu_inferior.html -->
<div class="menu-inferior">
    <div onclick="window.location.href='/'">
        <i class="fa fa-bars"></i>
        <p>OPCIONES</p>
    </div>
    <div onclick="window.location.href='/categorias/'">
        <i class="fa fa-map-marked-alt"></i>
        <p>CATEGORÍAS</p>
    </div>
    <div onclick="window.location.href='/historial/'">
        <i class="fa fa-star"></i>
        <p>CALIFICACIONES</p>
    </div>
    <div onclick="window.location.href='/perfil/'">
        <i class="fa fa-user"></i>
        <p>PERFIL</p>
    </div>
</div>